<footer style="text-align: center; padding: 5px; color: #237CBE; background: #F0F0F0">
	<p>
		Copyright &copy; 2020
		<%= link_to "Murdoch's Dev Shop","https://github.com/cjilbert504" %>
	</p>
</footer>